{
  "appRootDir": "",
  "keepAliveMax": 100,
  "keepAliveTimeout": 15,
  "maxBodyLength": 268435456,
  "trace": false,
  "http": {
    "port": 8080,
    "address": "0.0.0.0",
    "reuseAddress": true,
    "reusePort": false,
    "secure": {
      "cert": "ssl/certificate.pem",
      "key": "ssl/key.pem",
      "verify": true,
      "port": 8443
    }
  },
  "database": {
    "pgsql": {
      "host": "127.0.0.1",
      "port": 5432,
      "username": "admin",
      "password": "secret",
      "database": "mydb"
    }
  },
  "auth": {
    "basicAuth": {
      "username": "foo",
      "password": "bar"
    }
  }
}
