<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
  </head>
  <body id="body">
    <section>
      This is render using mustache templating system for nim.<br />
      <a href="https://github.com/soasme/nim-mustache">https://github.com/soasme/nim-mustache</a>
    </section>
    <!-- karax div single page application -->
    <section id="ROOT"></section>
    <!-- js app -->
    <script type="text/javascript" src="{{siteUrl}}/js/{{appVersion}}.js"></script>
  </body>
</html>
